@font-face {
  font-family: "herculanum";
  src: url("https://raw.githubusercontent.com/maxi83c/Fonts/main/herculanum.woff");
}

body {
  background-image: url("../src/images/libraryfade.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-image: url(images/Wan_Shi_Tong-nobackground.png);
  background-position: 50%;
  background-repeat: no-repeat;
  font-family: "herculanum", sans-serif;
  margin-top: 5%;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}
.banner {
  width: 100%;
}

.footer {
  text-align: center;
  font-family: "herculanum", sans-serif;
}

.HomeImg{
  margin-top: 2%;
  height: 50%;
  width: 50%;
}

.btn {
  color: aqua;
  margin-left: 4.5%;
  background-color: rgb(156, 153, 153);
  text-align: center;
  margin-left: 120px;
}

.Home{
  font-family: "herculanum", sans-serif;
  text-align: center;
  font-size: 2rem;
}
/* .allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  aspect-ratio: 1;
  max-width: fit-content;
} */

.allCards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, minmax(1px, 100%));
  flex-wrap: wrap;
  list-style: none;
  margin-left: 20px;
}

.cardsContainer {
  display: flex;
  max-width: max-content;
}

.cardImg {
  max-height: 250px;
}


.nav > ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}

.site-title {
  background-color: #333;
}
