@font-face {
  font-family: "herculanum";
  src: url("https://raw.githubusercontent.com/maxi83c/Fonts/main/herculanum.woff");
}

body {
  /* background-color: blanchedalmond; */
  background-image: url("../src/images/libraryfade.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  font-family: "herculanum", sans-serif;
  margin-top: 5%;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.mainContent {
  align-items: center;
  font-family: "herculanum", sans-serif;}

.footer {
  font-family: "herculanum", sans-serif;}

.allCards {
  list-style-type: none;
}